<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication7.Properties.Settings.connString"
            connectionString="Data Source=SAWATARI-PC;Initial Catalog=station;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>